@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .main-layout {
    display: grid;
    padding: 0 2rem;
  }
}

.nav-link.router-link-exact-active {
  font-weight: bold;
  text-decoration: underline;
  color: #0d6efd; /* Bootstrap primary color */
}

.nav-link:hover {
  background-color: rgba(13, 110, 253, 0.1); /* Light hover effect */
  border-radius: 5px;
}
